{% extends "template.html" %}
{% block title %}<strong class="am-text-primary am-text-lg">统计记录</strong> /
<small>Summary</small>{% endblock %}

{% block body %}

<img src="{{ url_for('static', filename='check.png') }}" width="45%" height="45%">
<img src="{{ url_for('static', filename='check_detail.png') }}" width="45%" height="45%">
<br>
<img src="{{ url_for('static', filename='check_detail_4.png') }}" width="45%" height="45%">
<img src="{{ url_for('static', filename='check_detail_12.png') }}" width="45%" height="45%">
<br>
<img src="{{ url_for('static', filename='save.png') }}" width="45%" height="45%">
<img src="{{ url_for('static', filename='save_detail.png') }}" width="45%" height="45%">
<br>
<img src="{{ url_for('static', filename='save_detail_4.png') }}" width="45%" height="45%">
<img src="{{ url_for('static', filename='save_detail_12.png') }}" width="45%" height="45%">
<br>
<img src="{{ url_for('static', filename='usercount.png') }}" width="45%" height="45%">
<img src="{{ url_for('static', filename='user_detail.png') }}" width="45%" height="45%">
<br>
<img src="{{ url_for('static', filename='user_detail_4.png') }}" width="45%" height="45%">
<img src="{{ url_for('static', filename='user_detail_12.png') }}" width="45%" height="45%">

{% endblock %}


