{% extends "template.html" %}
{% block title %}
<strong class="am-text-primary am-text-lg">客户详细资料</strong> /
<small>detail</small>
{% endblock %}

{% block body %}
<div class="am-u-sm-12 am-u-sm-centered">
    <h2>负责人： 张三</h2>
    <p>员工ID：&nbsp;&nbsp;&nbsp;&nbsp;10032464</p>
</div>
<hr>
<div class="am-u-sm-12 am-u-sm-centered">
    <h2>联系人{{name}}详细资料</h2>
    <p>手机：&nbsp;&nbsp;&nbsp;&nbsp;13849325433</p>
    <p>邮箱：&nbsp;&nbsp;&nbsp;&nbsp;832747853@qq.com</p>
    <p>关系：&nbsp;&nbsp;&nbsp;&nbsp;同事</p>

</div>


{% endblock %}
