{% extends "template.html" %}
{% block title %}
<h1><strong>&ensp;&ensp;歌单列表</strong></h1>
<br>
{% endblock %}

{% block table %}
<table class="layui-table" lay-skin="line">
    <colgroup>
        <col width="10%">
        <col width="20%">
        <col width="10%">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>序号</th>
        <th>歌单名</th>
        <th>创建人</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {% for songlist in songlistlist %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{songlist[0]}}</td>
        <td>{{songlist[1]}}</td>
        <td>
            <button href="" class="layui-btn">选择</button>

        </td>
    </tr>
    {%endfor%}
    </tbody>
</table>

{% endblock %}
