<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bank manage system</title>
    <meta name="description" content="to manage bank">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/i/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/i/app-icon72x72@2x.png') }}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/amazeui.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/admin.css') }}">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，暂不支持。 请升级浏览器以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <small>银行后台管理系统</small>
    </div>


    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="{{url_for('bank.index')}}"><span class="am-icon-home"></span> 首页</a></li>
                <li><a href="{{url_for('bank.bank',page = 0)}}"><span class="am-icon-table"></span> 支行管理</a></li>
                <li><a href="{{url_for('bank.staff',page = 0)}}"><span class="am-icon-pencil-square-o"></span> 员工管理</a>
                </li>
                <li><a href="{{url_for('bank.client',page = 0)}}"><span class="am-icon-users"></span> 客户管理</a></li>
                <li><a href="{{url_for('bank.saveaccount',page = 0)}}"><span class="am-icon-file"></span> 储蓄账户管理</a>
                </li>
                <li><a href="{{url_for('bank.checkaccount',page = 0)}}"><span class="am-icon-file"></span> 支票账户管理</a>
                </li>
                <li><a href="{{url_for('bank.loan',page = 0)}}"><span class="am-icon-book"></span> 贷款管理</a></li>
                <li><a href="{{url_for('bank.chart',page = 0)}}"><span class="am-icon-bar-chart"></span> 统计</a></li>
                <li><a href="{{url_for('bank.login')}}"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    {% block title %}{% endblock %}
                </div>
            </div>

            <hr>
            {% block body %}
            {% endblock %}

        </div>


    </div>
    <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer class="footer">
    <hr>
    <p>© 2019 Lee Adama</p>
</footer>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js') }}"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/amazeui.ie8polyfill.min.js') }}"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
<!--<![endif]-->
<script src="{{ url_for('static', filename='assets/js/amazeui.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</body>
</html>
